{% extends 'base.html.twig' %}
 
{% block title %}Mot de passe oublié{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" href="/assets/assets/css/forgott_password.css">
{% endblock %}
 
{% block body %}
<!-- Header -->
<header class="container-fluid" >
    <div class="row">
        <div class='col-12'>
            <center><h1 class="my-4">Mot de passe oublié</h1></center>
        </div>
    </div>
</header>
<!-- Content -->
<section id="article" class="container-fluid pb-4">
	<div class="container">
		<div class="row">
			<div class="col-12">
                <center><p>Pour réinitialiser votre mot de passe, veuillez saisir votre email.</p></center>
            {# {{ form_start(emailForm) }} #}
            {{ form_start(emailForm, {attr: {novalidate: 'novalidate'}})}}
            <center><p>Email : {{ form_widget(emailForm.email) }}</p></center>
           <center><p><font color="red">{{ form_errors(emailForm.email) }}</font></p></center>
            <center><p><button class="btn btn-success" type="submit">Envoyer</button></center>
            {# <p>{{ form_widget(emailForm.envoyer) }}</p> #}
            {{ form_end(emailForm) }}
        </div>
        </div>
    </div>
</section>
{% endblock %}