{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %} 
<link rel="stylesheet" href="/assets/assets/css/register.css">
{% endblock %}

{% block body %}
{% block message %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-danger">
            {{ message }}</div>
    {% endfor %}
{% endblock %}
<div id="page-top" class="index">
<div class="master-wrapper">
    <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="images/imageHome2.jpg" data-speed="0.7">
        <div class="section-inner text-center">
            <div class="container ">
                <div class="row">
                        <h2 class="section-heading">Inscrivez-vous</h2>
                        <div class="item-metas text-muted mb30 white">
                            <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> SNOWTRICKS<span>Website</span></span>
                            <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>Mialy R.</span></span>
                            <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> DISCOVER<span>all</span></span>
                            <span class="meta-item post-date"><i class="pe-icon pe-7s-clock"></i> CREATED AT <span> February, 2022</span></span>
                        </div>
        {{ form_start(registrationForm, {attr: {'novalidate': 'novalidate'}}) }}
        <div>Email</div>
        {{ form_widget(registrationForm.email) }}
      {{ form_errors(registrationForm.email) }}
        <div>pseudo</div>
        {{ form_widget(registrationForm.username) }}
        {{ form_errors(registrationForm.username) }}
        <div>Mot de passe</div>
        {{ form_widget(registrationForm.plainPassword) }} 
        {{ form_errors(registrationForm.plainPassword) }}
       
        <div>Conditions générales d'utilisation : {{ form_widget(registrationForm.agreeTerms) }}</div>
         <button type="submit" class="btn">Valider</button>
         {{ form_end(registrationForm) }}
       
   
                        
                      
                  
                </div>
            </div> 
            
        </div>
    </section>
</div>
</div>
   



{% endblock %}