{% extends 'base.html.twig' %}


{% block title %}{{figure.nom}}{% endblock %}

{% block stylesheets %}

    <link href="/assets/carousel.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/DataTables/media/css/jquery.dataTables.min.css">

    <title>Kompleet by Distinctive Themes</title>

    <!-- Bootstrap Core CSS -->
    {# <link href="assets/css/bootstrap.min.css" rel="stylesheet"> #}
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/pe-icons.css" rel="stylesheet">
{% endblock %}

{% block message %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}
{% endblock %}

{% block body %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    $('#tab').dataTable({
        "language": {
            "url": "/DataTables/French.json"
        }   
       
    });
});
</script>


<section class="section-inner text-center">
    <div class="container ">
        <div class="row">
                <p><h1 class="section-heading">DECOUVREZ LA FIGURE <strong>{{figure.nom}}</strong></h1></p>
                <div class="card text-white bg-primary w-50" style="margin:auto;width: 100px;" >
                    <div class="card-body"> 
                <img src="{{asset('/uploads/' ~ figure.imagetop) }}" width="400" height="250">
                <p><strong><font color="white"><span class="meta-item"><i class="pe-icon pe-7s-folder"></i> CATEGORIE : <span>{{figure.categorie}}</span></span></p>
                <p><span class="meta-item"><i class="pe-icon pe-7s-user"></i> DESCRIPTION : <span>{{figure.description}}</span></span></p></font></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


  {#-----------------------------Carousel Images---------------------------------#}
                   
  {% if figure.images is null %} 
  <p> Aucune photo trouvée dans cette galerie. </p>
  {% endif %}      
     
<div class="container">
<br><h2 class="section-heading text-center">PHOTOS ET VIDEOS</h2>
<hr> 
<div class="row">
<aside class="col-md-6 text-center">
      <h3>Decouvrez les photos</h3>
     
{% if figure.images is not null %}      
<div id="carousel1_indicator" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  {% for image in figure.images %}  
<li data-target="#carousel1_indicator" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>

{% endfor %} 
</ol> 
 
<div class="carousel-inner">
{% for image in figure.images %}  
{# <div class="item active"> #}
 <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}> 
  <img class="d-block w-100" width="560" height="315" src="{{ app.request.basepath }}/uploads/{{ image.name }}" alt="">   
</div> 
{% endfor %}
<a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only"></span>
</a>
<a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only"></span>
</a>
{% endif %} 

</div>
</aside>

  {#-----------------------------Carousel Video---------------------------------#}
     
     

<aside class="col-md-6 text-center">
      <h3>Decouvez les videos</h3>
  {% if figure.videos is null %} 
  <p> Aucune vidéo trouvée pour cette figure. </p>
  {% endif %}  
{% if figure.videos is not null %}      
<div id="carousel2_indicator" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
  {% for video in figure.videos %}
<li data-target="#carousel1_indicator" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
{% endfor %} 

</ol> 

<div class="carousel-inner">
{% for video in figure.videos %}  
  <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}> 
  <iframe width="560" height="315" src="{{ app.request.basepath }}{{video.URL}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 </div> 
{% endfor %}
<a class="carousel-control-prev" href="#carousel2_indicator" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only"></span>
</a>
<a class="carousel-control-next" href="#carousel2_indicator" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only"></span>
</a>
{% endif %} 
</div>
</aside>

</div>

                {#-----------------Listes des Commentaires---------------#}

<div class="container">
<br><h2 class="section-heading">COMMENTAIRES</h2>
<hr> 
<div class="row">
<table class="table table-dark" id="tab">
    <thead>
     <tr class="clearBg">
        <th class="id"><center>Avatar</center>
          <i class="fa fa-caret-up"></i>
          <i class="fa fa-caret-down"></i>
        </th>
            <th class="id"><center>Publié par</center>
              <i class="fa fa-caret-up"></i>
              <i class="fa fa-caret-down"></i>
            </th>
            <th class="dateTime"><center>Date/Heure</center>
              <i class="fa fa-caret-up"></i>
              <i class="fa fa-caret-down"></i>
            </th>
          <th class="fb"><center>Commentaire</center>
              <i class="fa fa-caret-up"></i>
              <i class="fa fa-caret-down"></i>
            </th>
        </tr></center> 
    </thead>
    <tbody>
      {% for commentaires in figure.commentaires %} 
    <tr>
            <td class="author">
              {% if commentaires.photo is null %}            
              <center><img src="/images/default_avatar.jpg" width="100" height="100" class="avatar" alt="avatar"></center>
              {% else %}
              <center><img src="{{ asset('/uploads/' ~ commentaires.photo) }}" width="100" height="100" class="avatar" alt="avatar"></center>
              {% endif %}
            </td>
            <td class="author">
              <center><strong><a href="#">{{commentaires.username}}</a></strong></center>
              <br>
            </td>
            <td class="dateTime">
              <center><strong>{{commentaires.createdAt|date("d/m/Y") }}<br>
              {{commentaires.createdAt|date("H:i") }}</strong></center>
            </td>
            <td><center><strong>{{commentaires.contenu}}</strong></center></td> 
        
        </tr>   
        {% endfor %}
    </tbody>
</table>

</div>
</div>

<div class="container">
    <br><h2 class="section-heading">AJOUTER UN COMMENTAIRE</h2>
    <hr> 
    <div class="row">
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
        {{ form_start(commentForm)}}
        <p><div><strong>Votre commentaire :</strong></div></p> 
        {{ form_widget(commentForm.contenu) }}
        <font color="red">{{ form_errors(commentForm.contenu) }}</font>
        <p><div><strong>Votre photo : </strong></div></p>
        <p>{{ form_widget(commentForm.photo_upload) }}
        <font color="red">{{ form_errors(commentForm.photo_upload) }}</font></p>
        
        <button class="btn btn-success" type="submit">Ajouter</button>
        {{ form_end(commentForm)}}
        
        {% endif %}
    </div>
</div>

<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/DataTables/media/js/jquery.js"></script>
<script type="text/javascript" src="/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins.js"></script>


            
   {% endblock %}