{% extends 'base.html.twig' %}

{% block stylesheetsTemplate %}
<meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/assets/img/ico/favicon.ico">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/assets/img/ico/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/assets/img/ico/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/assets/img/ico/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" href="assets/assets/img/ico/apple-touch-icon-57x57.png">

    <title>Kompleet by Distinctive Themes</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/assets/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/assets/css/animate.css" rel="stylesheet">
    <link href="assets/assets/css/plugins.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/assets/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="assets/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="assets/assets/css/pe-icons.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

{% endblock %}

{% block title %}Tricks{% endblock %}


{% block header %}
    {% if not admin %}<header id="headerwrap" class="fullheight">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in wow bounceInDown" data-wow-delay="0.5s">We Can Help You <span class="wodry">Discover|Learn|Master</span></div>
                <div class="intro-heading wow bounceInUp" data-wow-delay="1s">DO<span class="thin">SnowTricks</span></div>
                <a href="{{path('figures')}}#lestricks" class="page-scroll btn btn-xl btn-negative  wow bounceInDown" data-wow-delay="2s">Tell Me More <i class="fa fa-angle-down fa-2x"></i></a>
            </div>
        </div>
    </header>{% endif %}
    
{% endblock %}


{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
{% endfor %}
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger">
        {{message}}
    </div>
{% endfor %}

{# <div id="page-top" class="index">
    <div class="master-wrapper">
        <section class="dark-wrapper opaqued parallax" data-parallax="scroll" data-image-src="images/imageHome2.jpg" data-speed="0.7">
            <div class="section-inner text-center">
                <div class="container ">
                    <div class="row">
                       
                            <h2 class="section-heading">SNOWTRICKS</h2>
                            <div class="item-metas text-muted mb30 white">
                                <span class="meta-item"><i class="pe-icon pe-7s-folder"></i> SNOWTRICKS<span>Website</span></span>
                               
                                <span class="meta-item"><i class="pe-icon pe-7s-user"></i> AUTHOR <span>Mialy R.</span></span>
                                <span class="meta-item"><i class="pe-icon pe-7s-comment"></i> DISCOVER<span>all</span></span>
                                <span class="meta-item post-date"><i class="pe-icon pe-7s-clock"></i> CREATED AT <span> February, 2022</span></span>
                            </div>
                            {% if admin %}
                            <a href="{{path('creationFigure')}}"><button class=" btn btn-success">Ajouter une figure</button></a>
                            {% endif %} 
                    </div>
                </div> 
            </div>
        </section>
    </div>
</div> #}
        
        <div class="container">
            <div class="row">
                {% for figure in figures %}
                <!-- <div class=" col-md-4"> -->
                    <div class="col-sm-4 py-2">
                        <div class="card h-100 text-white bg-dark">
                            <div class="card-body"> 
                    <!-- <div class="card" style="width: 18rem;"> -->
                        <a href="{{'figure/' ~ figure.slug}}"><img src="{{asset('/uploads/' ~ figure.imagetop)}}" class="card-img-top" alt="Image" width="150" height="200"></a>
                      <div class="card-body">
                        <h5 class="card-title ">{{figure.nom}}</h5>
                        {# {% if app.user %} #}
                        {% if is_granted ('ROLE_ADMIN') or figure.user == app.user %}
                   
                        
                        {# {% endif %}  #} 
                                <form method="post" class="col" action="{{path('supFigure',{'id':figure.id})}}" onsubmit="return confirm('Voulez-vous vraiment supprimer ?');">
                                <input type="hidden" name="_method" value="SUP">
                                <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ figure.id)}}">
                        <div class="card-body" align="left">
                                <button style="border:transparent;background:transparent;" type="submit"  value="supprimer"><i class="fa fa-trash-o white" aria-hidden="true"></i></button>
                                </form>
                                <a href="{{'modifierFigure/' ~ figure.slug}}"><i class="fa fa-pencil white" aria-hidden="true"></i></a>
                        </div>
                        {% endif %}  
                        </div>
                    </div>
                </div>
            </div>   
        {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(figures) }}
        </div>
 
 
{% endblock %}

