{% extends 'base.html.twig' %}

{% block title %}Ajouter une figure{% endblock %}

{% block monTitre %}

{% endblock %}

{% block body %}

<h2>Ajouter une figure </h2>



{{form_start(form)}}
{{ form_row(form.imagetop_upload,{'label': 'Ajouter une image principale'}) }}
    <a href="{{path('admin')}}" class="btn btn-primary">Retour</a>
    <input type="submit" value="valider" class ="btn btn-success">
    {% if not form.vars.valid %}
    <ul class="alert alert-danger">
        {# on affiche en premier les erreurs globales (cas classiques) #}
        {% for error in form.vars.errors %}
            <li>{{error.message}}</li>
        {% endfor %}
        {# ainsi que les erreurs concernant chaque champs #}
        {% for child in form.children %}
            {# si le champ à des erreur #}
            {% if child.vars.errors is defined %}
                {% for error in child.vars.errors %}
                    <li>"{{child.vars.label}}" : {{error.message}} </li> {# on ajoute le label du champ devant l'erreur pour plus de précisions. #}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

{{form_end(form)}}

 
     
{% endblock %}